<h1>All Applicants</h1>
<br>
<% @applications.each do |application| %>
  <h4>Applicant Name:
    <%= application.name %></h4>
  <p>Application ID:
    <%= link_to "#{application.id}", "/admin/applications/#{application.id}" %></p>

<% end %>