<h1>All Applicants</h1>
<br>

<% @applications.each do |application| %>
  <h4>Applicant Name:
    <%= application.name %></h4>
  <p>Application ID:
    <%= application.id %></p>
<% end %>
<%= link_to "New Application", "/applications/new" %>