<h1 class="display-1 d-flex justify-content-center align-items-center" style="height:1000px;">

  <div class="embed-responsive embed-responsive-16by9 ">
    <strong>Adopt, don't shop!</strong><br>
    <div class="d-flex justify-content-center text-center">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RPsqtWhb5w4" allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>
</h1>